[Unit]
Description=Monitor ZFS pools and systemd units using Home Assistant and MQTT.
Documentation=https://github.com/ykgmfq/SystemPub
After=network.target

[Service]
ExecStart=/usr/local/bin/SystemPub
Restart=on-failure
WatchdogSec=1min
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
