[Unit]
After=network.target

[Service]
ExecStart=/usr/local/bin/SystemPub
Restart=on-failure
WatchdogSec=1min
Type=notify

[Install]
WantedBy=default.target
