# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go
name: Go
permissions:
  contents: read
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [amd64, arm64]
    steps:
      - uses: actions/checkout@v5
      - uses: extractions/setup-just@v3
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - run: |
          just build ${{ matrix.arch }}
      - uses: actions/upload-artifact@v4
        with:
          name: systempub-${{ matrix.arch }}
          path: /tmp/systempub-${{ matrix.arch }}
          if-no-files-found: error
          compression-level: 0
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v5
      - uses: extractions/setup-just@v3
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - run: just test
