name: Update DevContainer
on:
  schedule:
    - cron: '0 4 * * 1' # Monday 04:00 UTC
  workflow_dispatch:
jobs:
  update-tag:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Update devcontainer.json if needed
        run: ./.github/scripts/update-devcontainer.sh
        id: update_devcontainer
      - name: Create Pull Request
        if: steps.update_devcontainer.outputs.result == 'updated'
        uses: peter-evans/create-pull-request@v7
        with:
          branch: devcontainer-${{ steps.update_devcontainer.outputs.tag }}
          title: Update devcontainer to Go ${{ steps.update_devcontainer.outputs.tag }}
          body: https://mcr.microsoft.com/en-us/artifact/mar/devcontainers/go/tags
          commit-message: Update devcontainer to Go ${{ steps.update_devcontainer.outputs.tag }}
